<div>
    <div class="underline" style="float:left">Current Weather</div>
    <div style="float:left; width:100%; padding-left:15px">
      <div style="float:left; width:100%">
      	<div id="cityname" class="headerText" style="width:10em">City Name</div>
      	<div id="location" class="headerText" style="width:10em">Location</div>
      	<div id="weather" class="headerText">Weather</div>
      </div>

      <div style="float:left; width:100%">
      	<div class="headerText" style="width:10em">
      		<span><input id="name1" type="text" ng-model="name1m" ng-change="name(1)"></span>
      	</div>
      	<div id="name1city" class="underline" style="width:10em">&nbsp;{{name1City}}</div>
      	<div id="name1weather" class="underline">&nbsp;{{name1Weather}}</div>
      </div>
      <div style="float:left; width:100%">
      	<div class="headerText" style="width:10em">
      		<span><input id="name2" type="text" ng-model="name2m" ng-change="name(2)"></span>
      	</div>
      	<div id="name2city" class="underline" style="width:10em">&nbsp;{{name2City}}</div>
      	<div id="name2weather" class="underline">&nbsp;{{name2Weather}}</div>
      </div>
      <div style="float:left; width:100%">
      	<div class="headerText" style="width:10em">
      		<span><input id="name3" type="text" ng-model="name3m" ng-change="name(3)"></span>
      	</div>
      	<div id="name3city" class="underline" style="width:10em">&nbsp;{{name3City}}</div>
      	<div id="name3weather" class="underline">&nbsp;{{name3Weather}}</div>
      </div>
      <div style="float:left; width:100%">
      	<div class="headerText" style="width:10em">
      		<span><input id="name4" type="text" ng-model="name4m" ng-change="name(4)"></span>
      	</div>
      	<div id="name4city" class="underline" style="width:10em">&nbsp;{{name4City}}</div>
      	<div id="name4weather" class="underline">&nbsp;{{name4Weather}}</div>
      </div>
  	</div>
</div>